@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.screen50vh {
  height: 50vh;
}

.opacity50 {
  opacity: 50%;
}

.outlineText {
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke: 1px #7d7d7d;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
